.Component{
    width: 512px;
    height: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    .ComponentTitle{
        background: #2ac08e;
        color:white;
        height: 4rem;
        display: flex;
        align-items: center;
        border-radius: 6px;
        font-size:1.5rem;
        justify-content: space-around;
    }
}
