.Layout{
    width: 450px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    background: white;
    overflow-y: auto;
    border-radius: 20px;
    .Title{
        color:white;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(90deg, #86f3ea 0%, #998ff1 100%,);
        font-weight: 600;
        font-size: 20px;
        
    }
    
    .LayoutBtn{
        display: flex;
        color : white;
        background: none;
        outline: none;
        border: none;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 2rem;
        border-radius: 10px;
    }
}